@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caramel&family=Fjalla+One&display=swap');
body {
    background-color: rgb(238, 119, 169);
    color: rgb(255, 255, 255);
}
.pealkiri{
    color: rgb(0, 0, 0);
    font-family: 'Caramel', cursive;
    font-size: 3rem;
    text-align: center;
    position: relative;
    animation: pealkiri;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
@keyframes pealkiri{
    0%{top:-250px}
    100%{top: 15px;}
}

.koostisosad {
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
}

.koostisosade-tabel {
    margin: 0 auto;
}

.valmistamine{
    width: 35%;
    margin: 0 auto;
    position: relative;
    animation: valmistamine;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
@keyframes valmistamine{
    0%{left:-1000px}
    85%{left: 20px;}
    100%{left:0}
}
.pilt{
    opacity: 0;
    width: 500px;
    margin-top: -125px;
    margin-left: 6rem;
    border-radius: 50%;
    animation: aniImg;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes aniImg{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.footer{
    text-align: center;
}
.link{
    color: black;
    border: 3px solid black;
}
.tagasiside{
    color: black;
}